*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    color: #333;
}
.container{
    margin: 0 15px;
}

.form-box{
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}
.form-box.active{
    display: block;
}
h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}
input,
select {
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-bottom: 20px;
}

button{
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
    transform: 0.5s ease;
}
button:hover{
    background: #5a7bd8;
}
p{
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 5px;
}

p a{
    color: #7494ec;
    text-decoration: none;
}

p a:hover{
    text-decoration: underline;
}

.error-msg{
    padding: 12px;
    background: #f8d7da;
    border-radius: 6px;
    font-size: 16px;
    color: #a42834;
    text-align: center;
    margin-bottom: 20px;
}
.success-msg{
    padding: 12px;
    background: #f8d7da;
    border-radius: 6px;
    font-size: 16px;
    color: #5bee8f;
    text-align: center;
    margin-bottom: 20px;
}
.box p{
    font-size: 22px;
    margin: 25px 0;
}
.box p span{
    color: #7494ec;
}
.box button{
    display: block;
    width: 300px;
    margin: 0 auto;
}
.box h1{
    font-size: 35px;
    color: #333;
    margin: 20px 0;
}
.box h1 span{
    color: #5a7bd8;
}

